<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LOGIN</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

<form method="get" th:action="@{/registration}">
<button class="btn btn-md btn-warning btn-block" type="submit">Go To Registration</button>
</form>

<div class="container">
<div class="row">

<div class="col-lg-8">

<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="logo">
<form th:action="@{/login}" method="post" class="form-signin">
<h3 class="form-signin-heading" th:text="Welcome"></h3>
<br/>

<input type="text" id="email" name="email" th:placeholder="Email" class="form-control"/>
<br/>

<input type="password" name="password" id="password" th:placeholder="Password" class="form-control"/>
<br/>

<div align="center" th:if="${param.error}">

<p style="font-size:20; color: #ff1c19;">Email or Password incorrect</p>

</div>

<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit" th:text="Login"></button>

</form>

</div>


</div>





</div>

</body>
</html>