<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>REGISTRATION FORM</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<script type="text/javascript" src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<form th:action="@{/}" method="get">

<button class="btn btn-md btn-warning btn-block" type="submit">Go To Login Page</button>

<div class="container">



</div>
</form>

</body>
</html>